#ant stuff
/bin/
/download/
#Remove OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
#gradle stuff
/.gradle
/build/
/run/
#IDEA files from Gradle
.idea/
/*.iml
/*.ipr
/*.iws
#Vim backups
*~
#manual version override
version.properties
#eclipse stuffs
#eclipse stuffs
/.classpath
/.project
/.settings/
/debug/
*.lock
/.metadata/
/config/
/logs/
options.txt
/saves/
/out
/runServer
/asm/
/crash-reports/

usernamecache.json

gradle.properties

mods/CoFHCore-[1.7.10]3.1.3-327.jar
conf
*.launch
buildno.properties
/version/
